<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:include="parts/head"></head>
<body>
<div th:replace="parts/header :: header"></div>
<main>
  <div class="container">
    <div class="row justify-content-md-center">
      <div>
        <form class="form form-control" action="" method="post">
          <fieldset>
            <legend>Legend</legend>
          <label class="form-label" for="rating">Votre note : </label>
          <input class="" type="number" min="0" max="5" name="rating" id="rating">
            <br>
          <label class="form-label" for="opinion">Votre avis : </label>
          <input class="" type="text" name="opinion" id="opinion">
            <input class="btn btn-lg btn-outline-success" type="submit" value="Valider">
          </fieldset>
        </form></div>
    </div>
  </div>
</main>
<div th:replace="parts/footer :: footer"></div>
</body>
</html>